.better-custom-classes__pill-group {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

}

.better-custom-classes__pill {
  display: flex;
  width: auto;
  padding: 4px 8px;
  background: rgb(221, 221, 221);
  border-radius: 2px;
  gap: 4px;
  align-items: center;

  &.better-custom-classes__pill--error {
    background: #ff95a0;
  }

  &.better-custom-classes__pill--disabled {
    background: rgb(235, 235, 235);
    color: rgb(139, 139, 139)
  }

  svg {
    width: 8px;
    height: 8px;
    cursor: pointer;
  }
}